#head {
    display: block;
    border-radius: 2px;
    border-width: 2%;
    border-color: black;
    border-style: double;
    text-align: center;
}

table {
    border-radius: 1px;
    border-color: black;
    text-align: center;
    border-style: double;
    align-items: center;
    align-content: center;
    align-self: center;
}

select {
    border-radius: .1%;
    padding: .1%;
    text-align: center;
    align-self: center;
    fill-opacity:unset;
}

svg {
    border-radius: .1%;
    border-color: black;
    border-style: double;
}

/* #circle {
    pointer-events: all;
}

#tspan {
    pointer-events: none;
} */


